---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div>
    <h2>{{ author.display_name }}</h2>
    <p> {{ author.bio | markdownify }}</p>
</div>

<div class="row listrecent">
    <div class="section-title col-md-12 mt-4">
        <h2>Posts</h2>
    </div>
    {% assign filtered_posts = site.posts | where: 'author', page.author %}
    {% for post in filtered_posts %}
      {% if post.title != null %}
          {% if group == null or group == post.group %}
              {% include postbox.html %}
          {% endif %}
      {% endif %}
    {% endfor %}
</div>